.image-container {
  position: relative;
  text-align: center;
}

.friendListImg {
  width: 85%; /* 이미지의 가로 크기를 200픽셀로 조정합니다. */
  height: 300px; /* 세로 크기는 가로에 비례하여 자동으로 조정됩니다. */
  border-radius: 5cqmin;
  object-fit: cover;
}

.container {
  display: inline;
  margin: 10px;
}

.callButton {
  padding: 2% 4% 2% 4%;
  margin-right: 20px;
}
