.title {
  margin-top: 20px;
  margin-left: 20px;
}
.btn-container {
  display: flex;
  justify-content: center;
}
button {
  outline: none;
}
.custom-btn {
  width: 150px;
  height: 60px;
  padding: 10px 25px;
  margin: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  font-weight: 600;
  font-size: x-large;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-11 {
  overflow: hidden;
  transition: all 0.3s ease;
}
.btn-11:hover {
  background: #000;
  color: #fff;
}
.btn-11:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}
